{% extends "layout.html" %}
{% block body  %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>I am Harsh patel, I am student of Ld college of Enginnering.</h3><br>
        <h3>I am future developer and this is my first responsible website using bootstrap templates with python</h3><br>
        <h3>This is make for practice only.</h3>
      </div>
    </div>
  </div>

{% endblock %}